#themeIcon {
    font-size: 28px;
 }

.inventory-weight-qty-input {
    max-width: 125px;
 }

.table-container {
    height: 75vh; overflow-y: auto
}

.no-data-table {
    text-align: center;
    vertical-align: middle;
}

.structure-search-button {
    text-decoration: none;
}

.structure-search-button:hover {
    text-decoration: underline;
    color: blue;
}

.nav-blocks-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-block h4 {
    width: 180px;
    min-width: 180px;
    text-align: left;
}